@font-face {
    font-family: "IranSanse";
    src: url("./asset/fonts/Woff/IRANSansXFaNum-Medium.woff") format("woff"), url("asset/fonts/Woff/IRANSansXFaNum-Medium.woff") format(".wof");
    font-weight: 700;
    font-style: normal;
  }

  html{
    margin: 0;
    height: 100%;
  }

  body{
    margin: 0 auto;
    font-family: "IranSanse";
  }